:host {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}
.example-spacer {
  flex: 1 1 auto;
}
.navbar{
  justify-content: space-between;
}

span{
  padding-right: 1rem;
}

.form-field{
  margin-bottom: 10px;
  width: 400px;
  display: block !important;
}
