
  <mat-toolbar fxLayout="row" color="primary"class="navbar" >
   <button mat-icon-button>
    <mat-icon>
      menu
    </mat-icon>
   </button>
    <div>
      <span>Home</span>
      <span>Item</span>
      <span>Details</span>
    </div>
  </mat-toolbar>


<form [formGroup]="form" >

  <mat-form-field class="form-field">
    <mat-label>Name</mat-label>
    <input matInput type="text" placeholder="Name" [formControl]="name">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Type</mat-label>
    <input matInput type="text" placeholder="Type" [formControl]="type">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>description</mat-label>
    <input matInput type="text" placeholder="description" [formControl]="description">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="showData()">Add</button>

</form>
<button mat-raised-button color="accent" (click)="openDialog()">Open dialog</button>

<!-- <mat-form-field appearance="fill">
  <p>Name</p>
  <mat-label>Input</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Input</mat-label>
  <input matInput>
</mat-form-field><mat-form-field appearance="fill">
  <mat-label>Input</mat-label>
  <input matInput>
</mat-form-field> -->


<!-- <mat-form-field appearance="fill">
  <mat-label>Textarea</mat-label>
  <textarea matInput></textarea>
</mat-form-field> -->


